@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <p class="text-primary">Peleka itu hapo kwa store</p>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <p class="text-black text-centered">
                    Drinks
                </p>
                <p class="text-primary">
                    We offer all the drinks that are needed for 
                    any event.Please contact us for any commit.
                </p>
        
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <p class="text-black text-centered">
                    Foods
                </p>
                <p class="text-primary">
                    We offer all the foods that are needed for 
                    any event.Please contact us for any commit.
                </p>
        
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body">
                <p class="text-black text-centered">
                    Events
                </p>
                <p class="text-primary">
                    We offer all the events that are needed for 
                    any event.Please contact us for any commit.
                </p>
        
            </div>
        </div>
    </div>
    <form id="IdPlace"></form>
    <div class="row">
        <div class="col">
            <div class="card-body">
                <center>
                    <label for="Name" class="btn btn-primary" id="bartender">Name</label><br/>
                    <input id="runout" placeholder="Name.."/><br/>
                    <label for="Name" class="btn btn-primary" id="bartender">Password</label><br/>
                    <input id="runout" placeholder="Password.."/><br/>
                    
                    <button id="brol" name="Submit" type="submit"></button>


                </center>
            </div>
        </div>
    </div>
</div>